.center {
    margin-top: 60px;    
    
}

html, 
body {
    height: 100%;
}

.loginCard{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 30px;
}

.fullwidth{
    width:100%;
}