/* 
body{

    background-image : url("https://firebasestorage.googleapis.com/v0/b/prov-h-fae96.appspot.com/o/hospital%2Fcongruent_pentagon.png?alt=media&token=4f1edb16-acb4-46b6-b19a-9c1efb1e44c7");
    

} */


html, 
body {
    height: 100%;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

  .biggerNavButton{
      font-size: 25px;
      width: 200px;
      color: gray;
     text-align: center;
  }

