<div class="container">
  <div class="row">
      <div class="form-group col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="First Name" >
          <input type="text" class="form-control" [(ngModel)]="middleName" placeholder="Middle Name">
          <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Last Name">
          <input type="text" class="form-control" [(ngModel)]="userName" placeholder="Username">
          <input type="text" class="form-control" [(ngModel)]="password" placeholder="Password">
          <input type="date" class="form-control" [(ngModel)]="date" placeholder="Birth Date">
          <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email">
          <button class="btn btn-primary" (click)="add()">Add</button>
          
        </div>
  </div>
</div>
